<div class="container card bg-success">
    <hr>
    <div class="card-header card text-white bg-info">
        Sistemas de Riego
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p class="text-justify">Sistema de Riego. Es el conjunto de estructuras, que permite determinar que área
                pueda ser cultivada
                aplicándole el agua necesaria a las plantas. Este consta de varios componentes. El conjunto de
                componentes dependerá de si se trata de riego superficial, por aspersión, o por goteo. Por ejemplo, un
                embalse no será necesario si existe otra fuente de agua cercana tales como río o arroyo de los cuales se
                capta el agua y estos tienen un caudal suficiente incluso en el período de sequia. </p>
            <footer class="blockquote-footer">Fuente: <cite title="Source Title">Alexander Torres</cite></footer>
        </blockquote>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <h5 class="card-title">Riego por gravedad </h5>
            <img class="card-img-top" src="/imagenes/riego.jpg" alt="Card image cap">
            <div class="card-body col-sm-12">
                <p class="card-text text-justify">El agua se mueve por su propio peso en donde el suelo debe estar bien preparado y
                    alineado, para que no exista inconvenientes a la hora de su distribución, cuando se habla de riego
                    por gravedad estamos hablando de riego por inundación y del riego por surcos con una eficiencia de
                    riego entre 30% y 70%.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
            <h5 class="card-title">Riego por aspersión </h5>
            <img class="card-img-top" src="/imagenes/riego.jpg" alt="Card image cap">
            <div class="card-body col-sm-12">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-right">
            <h5 class="card-title">Riego por goteo </h5>
            <img class="card-img-top" src="/imagenes/riego.jpg" alt="Card image cap">
            <div class="card-body col-sm-12">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>